body{
    background-color:  rgba(137, 176, 223);
    font-family: "Roboto", sans-serif;
}
.container{
    border-radius: 10px;
    background-color: #fff;
    width: 800px;
    display: flex;
    margin: 0 auto;
}
h1{
    margin-left: 40px;
    font-size: 26px;
}
input{
    margin-top:  30px ;
    border: 0;
    border-bottom: 1px solid  rgb(224, 224, 224)
    ;
}
form{
    margin-left: 45px;
}
.general{
    width: 50%;
}
.gen--head--color{
    color:rgb(38, 84, 157);
}
.details{
    width: 50%;
    background-color:  rgb(58, 58, 193);
    border-radius: 0 10px 10px 0 ;
}
.head--color{
    color: #fff;
}