body{
    box-sizing: border-box;
}
div{
    margin: auto;
    border-radius: 50px;
    border: 1px solid #ccc;
    width: 50px;
    height: 25px;
    background-color: rgb(103, 101, 101);
    position: relative;
}
input{
   width: 25px;
   height: 25px;
}
.ball{
    background-color: #fff;
    border-radius: 100px;
    width: 25px;
    height: 23px;
    position: absolute;
    transition-duration: 1.8s;
    transition-delay: 0.5s;
    transition-timing-function: ease;
    transition-property: all;
}
#check{
    position: fixed;
    left: 0;
}

#check:checked + .ball{
    right:0;
    background-color: tomato;
}
.ball:hover{
    right: 0;
}